<h2>Join FLYTAU</h2>
<form action="/signup" method="POST">
    <input type="email" name="email" placeholder="Email (Unique)" required>
    <input type="password" name="password" placeholder="Password" required>
    <hr>
    <input type="text" name="first_name" placeholder="First Name (English)" required>
    <input type="text" name="middle_name" placeholder="Middle Name (Optional)">
    <input type="text" name="last_name" placeholder="Last Name (English)" required>
    <hr>
    <input type="text" name="passport_num" placeholder="Passport Number" required>
    <label for="birth_date">Birth Date:</label>
    <input type="date" name="birth_date" required>
    <input type="text" name="phone" placeholder="Phone Number" required>

    <button type="submit">Register</button>
</form>